*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #dd1212;
    color: rgb(255, 255, 255);
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

.paragraph{   
    background-color: #c1b8b8;
    color: rgb(0, 0, 0);
    height: 65px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}
.thumb1{
    display: flex;
    background: #efefef;
    margin: 20px;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}
.thumb2{
    display: flex;
    background: #efefef;
    margin: 20px;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}
.thumb3{
    display: flex;
    background: #efefef;
    margin: 20px;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}
.thumbtext1{
    display: flex;
    background:  #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}
.thumb4{
    display: flex;
    background: #efefef;
    margin: 20px;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}
.Terms{
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    color:#0067b8;
    cursor: pointer;
}
.termstext{
    font-family: 'Roboto', sans-serif;
    padding: 12px;
}
